server:
  port: 8932

spring:
  jpa:
    hibernate:
      ddl-auto: none
    properties:
      hibernate:
        show_sql: true
        format_sql: true

  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    username: root
    password: 1111
    url: jdbc:mysql://localhost:3894/mini_service

    tomcat:
      max-wait: 10000
      max-active: 50 # 톰캣 커넥션 제한
      # test-on-borrow: true # 풀에서 빌리기젼 커넥션 체크



verify:
  email-policy:
    today-max: 5 # 당일 이메일 인증가능 횟수 제한
    expired-second: 600 # 인증 유효시간 10분
    code-length: 6 # 인증번호 길이

